// Breakpoints
$breakpoint-mobile: 320px;
$breakpoint-tablet: 744px;
$breakpoint-laptop: 1280px;
$breakpoint-desktop: 1440px;



// colors
$white: #FFFFFF;
$white2: #FDFEFF;
$dark-gray: #444444;
$light-gray: #CCCCCC;
$light-gray-2: #F6F6F6;
$transparent-bg: rgba(0, 0, 0, 0.35);
