@import "../common/mixin";

#Mypage_wrap{
  width: auto;
  min-width: 100vw;
  height:100vh;
  padding-top:70px;

  h1{
    margin-top:120px;
    margin-bottom: 40px;
    text-align: center;
    font-size:30px;
    color: $dark-gray;
    filter: drop-shadow(15px 15px 4px rgba(0, 0, 0, 0.3));
  }
  form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    max-width:750px;
    height:500px;
    margin:0 auto;
    margin-top:20px;
    background-color:rgb(236, 236, 236);
    border-radius:10px;
    filter: drop-shadow(15px 15px 4px rgba(0, 0, 0, 0.3));
    .first_box{
      margin-top:100px;
      margin-left:40px;
      display: flex;
      li{
        display: flex;
        width:260px;
        height:90px;
        margin-left:50px;
        background-color:rgb(156, 156, 156);
        border-radius:15px;
        // background-color: #d0a;
        img{
          width:42px;
          height:42px;
          margin-top:20px;
          margin-left:20px;
        }
        span {
          width: auto;
          height: 30px;
          margin-top: 30px;
          margin-left: 10px;
          font-size: 18px;
          font-weight: 500;          
          color: #5b5b5b;
        }
      }
      .name{
        img{
          width:50px;
          height:50px;
        }
      }
    }
    .second_box{
      display: flex;
      margin-left:40px;
      li{
        display: flex;
        width:260px;
        height:90px;
        margin-left:50px;
        background-color:rgb(156, 156, 156);
        border-radius:15px;
        img{
          width:42px;
          height:42px;
          margin-top:20px;
          margin-left:20px;
        }
        span {
          width: auto;
          height: 30px;
          margin-top: 30px;
          margin-left: 10px;
          font-size: 18px;
          font-weight: 500;
          color: #5b5b5b;
        }
      }

    }
  }
}

@include mobile {

  #Mypage_wrap{
    width:100vw;
    height:100vh;
    h1{
      margin-top:120px;
      text-align: center;
      font-size:30px;
      color: $dark-gray;
      filter: drop-shadow(15px 15px 4px rgba(0, 0, 0, 0.3));
    }
    form{
      // flex-direction: column;
      width: 80%;
      height: 550px;
      border-radius: 5px;
      background-color:rgb(236, 236, 236);
      border-radius:10px;
      filter: drop-shadow(15px 15px 4px rgba(0, 0, 0, 0.3));
      .first_box{
        width:100%;
        margin-top:50px;
        margin-left:40px;
        display: inline-block;
    
        li{
          width:80%;
          height:90px;
          margin-top: 20px;
          margin-left:20px;
          background-color:rgb(156, 156, 156);
          border-radius:15px;
          img{
            width:42px;
            height:42px;
            margin-top:20px;
            margin-left:20px;
          }
        
        }
        .name{
          img{
            width:50px;
            height:50px;
          }
        }
      }
      .second_box{
        width:100%;
        margin-top:-40px;
        margin-left:40px;
        display: inline-block;
        li{
      
            width:80%;
            height:90px;
            margin-left:20px;
            margin-top: 20px;
            background-color:rgb(156, 156, 156);
            border-radius:15px;
    
          img{
            width:42px;
            height:42px;
            margin-top:20px;
            margin-left:20px;
          }
  
        }
  
      }
    }

  }
  
};

@include tablet {

  #Mypage_wrap{
    width:100vw;
    height:100vh;
    margin:0 auto;
    h1{
    
      margin-top:120px;
      text-align: center;
      font-size:30px;
      color: $dark-gray;
      filter: drop-shadow(15px 15px 4px rgba(0, 0, 0, 0.3));
    }
    form{
      width:600px;
      height: 500px;
      background-color:rgb(236, 236, 236);
      border-radius:10px;
      filter: drop-shadow(15px 15px 4px rgba(0, 0, 0, 0.3));
      .first_box{
        margin-top:100px;
        display: flex;
        margin-left:-3px;
    
        li{
            width:260px;
            height:90px;
            margin-left:30px;
            background-color:rgb(156, 156, 156);
            border-radius:15px;
          img{
            width:42px;
            height:42px;
            margin-top:20px;
            margin-left:10px;
          }
        

        }
        .name{
          img{
            width:50px;
            height:50px;
          }
        }
      }
      .second_box{
        display: flex;
        margin-left:-3px;
        li{
          width:260px;
          height:90px;
          margin-left:30px;
          background-color:rgb(156, 156, 156);
          border-radius:15px;
  
          img{
            width:42px;
            height:42px;
            margin-top:20px;
            margin-left:20px;
          }
  
        }
  
      }
    }

  }
};

