@import "../common/mixin";

/* # - laptop, desktop */ 
.slider_area {
  position: relative;
  width: 500vw;
  height: 100vh;
  // background-color: #eee;
  .slider {
    .slider_list {
      position: relative;
      display: flex;
      .slider_item {
        width: 100vw;  
        height: 100vh;
        div {
          width: 100vw;
          height: 100vh;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
      }// .slider_item
      .slider_item_bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 500vw;
        height: 100vh;
        z-index: 101;
        background-color: rgba(0, 0, 0, 0.2);
        
      }
    }
  }
  .slide_btn_area {
    display: flex;
    justify-content: space-between;
    // width: 120px;
    width: auto;
    position: absolute;
    bottom: 100px;
    left: 8.7%;
    z-index: 100;
    // background-color: #df1;
    button {
      width: 50px;
      height: 50px;
      // background-color: #d2a;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }// button 
    button:first-of-type {
      background-image: url("../../assets/img/common/slide_prev_btn.png");
    }
    button:last-of-type {
      background-image: url("../../assets/img/common/slide_next_btn.png");
    }
    .indicator {
      width: 150px;
      display: flex;
      justify-content: space-around;
      padding-top: 15px;
      span {
        width: 10px;
        height: 10px;
        border: 2px solid #fff;
        border-radius: 100%;
        background-color: transparent;
      }
      span.active {
        width: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.5);
      }
    }// .indicator
  }// .slide_btn_area
}// .slider_area



/* # - mobile */ 
/* # - mobile */ 
@include tablet { 
  #slideBox {
    .slider_area {
      .slider {
        .slider_list {}
      }// .slider
      .slider + .slide_btn_area {
        left: 5%;
        .indicator {
          // span {}
        }// .indicator
      }// .slide_btn_area

    }// .slider_area
  }
}

/* # - tablet */ 
/* #slideBox - tablet */ 
@include tablet { 
  #slideBox {
    .slide_btn_area {
      left: 7%;
    }
  }
}